
<h1 class="text-secondary text-center">Conditions générales d'utilisation</h1>

<h3>Identification</h3>
ANIMALIB est une plateforme de prise de rendez-vous en ligne. <br><br>

<h3>Avertissement</h3>
La Plateforme n’est qu’un moyen de mise en relation entre les Clients et les Vétérinaires. <br>
L’Editeur n’intervient en aucun cas dans la relation contractuelle qui lie le Client au Vétérinaire.<br><br>

<h5>Article 1 – Définitions</h5>
Dans les présentes, les termes ci-dessous ont la signification qui leur est ici donnée : <br><br>

- CGU : les présentes conditions générales d’utilisation <br>

- Plateforme : la Plateforme de mise en relation entre les clients et les vétérinaires qui y sont référencés.<br> 

- Client : toute personne qui utilise la Plateforme en vue de prendre un rendez-vous chez un vétérinaire <br> 

- Vétérinaire : tout vétérinaire ou docteur vétérinaire en exercice inscrits au conseil de l'ordre des vétérinaires proposant ses services aux clients de la plateforme.<br><br> 

<h5>Article 2 - Objet</h5>
Les présentes CGU ont pour objet de définir les conditions d’inscription et d’utilisation de la Plateforme par les Clients.<br><br> 

<h5>Article 3 – Applicabilité des CGU</h5>
Les CGU doivent être respectées par tout client et vétérinaire. Elles doivent être acceptées avant toute inscription sur la Plateforme. Toute création de compte et toute connexion à la Plateforme entraînent l’acceptation pleine et entière des présentes CGU. <br> 

L’Editeur se réserve le droit de modifier les CGU à tout moment, sans préavis. La nouvelle version des CGU sera transmise au client ou vétérinaire via son Compte. Le concerné devra les accepter. En cas de refus des modifications, il s’engage à ne plus utiliser la Plateforme et à demander la fermeture de son compte. <br> 

Toute condition contraire posée par le client ou le vétérinaire serait donc, à défaut d’acceptation expresse, inopposable à l’Editeur quel que soit le moment où elle aura pu être portée à sa connaissance. <br> 

Le fait que l’Editeur ne se prévale pas à un moment donné d’une quelconque disposition des présentes CGU, ne peut être interprété comme valant renonciation à se prévaloir ultérieurement d’une quelconque disposition desdites CGU.<br><br> 

<h5>Article 4 – Service / Référencement des Vétérinaires</h5>
La Plateforme permet au client de trouver un vétérinaire selon différents critères : spécialité animalière, adresse, tarifs. Ces critères entrés par le client lui donne accès à une liste de Vétérinaires approchant au mieux les critères indiqués. Les Vétérinaires référencés sont tous des professionnels répondant aux obligations légales pour exercer leur activité. <br> 

Les Vétérinaires sont déréférencés en cas de plainte d’un ou plusieurs client(s). <br> 

Il revient au client de compléter sa recherche autrement que sur la Plateforme s’il ne trouve pas de vétérinaires dans sa zone de recherche ou s’il souhaite consulter un vétérinaire non référencé sur la Plateforme. Le client reste entièrement libre du choix d’un vétérinaire. <br> 

Une fois un Vétérinaire sélectionné sur la Plateforme, le client peut prendre rendez-vous avec le Vétérinaire sélectionné en vue d’une consultation à un jour et une heure précis. <br> 

Le client recevra une confirmation de ce rendez-vous, puis un rappel quelques heures ou jours avant le rendez-vous. <br> 

A partir de son compte en ligne, le client peut indiquer des informations qui seront accessibles par le Vétérinaire. Cet espace permet un suivi de l’animal qui fait l’objet des soins.<br><br> 

<h5>Article 5 – Accès à la Plateforme</h5>
L’accès à la Plateforme est gratuit pour les clients, mais tous les coûts nécessaires à l’équipement et à la connexion à Internet sont à l’entière charge de ce dernier. Par ailleurs, si la consultation de la Plateforme est gratuite, le client est conscient que la consultation d’un Vétérinaire est payante. 

Le client déclare avoir pris connaissance des caractéristiques et des limites d’Internet décrites ci-dessous :  <br> 

Que les transmissions de données sur Internet ne bénéficient que d’une fiabilité technique relative et que nul ne peut garantir le bon fonctionnement d’Internet ;  <br> 

Que l’Editeur a pris d’importantes mesures de sécurisation de l’accès à la Plateforme, selon une obligation de moyen, mais que les données circulant sur Internet peuvent faire l’objet de détournements, et qu’ainsi la communication de mots de passe, codes confidentiels, et plus généralement, de toute information à caractère sensible est effectuée par le client à ses risques et périls ;  <br> 

Qu’Internet est un réseau ouvert et que les informations transmises par ce moyen ne sont pas protégées contre les risques de détournement, d’intrusion frauduleuse, malveillante ou non autorisée dans le système d’information de l’Utilisateur, de piratage, d’altération ou d’extraction non autorisée de données, de modifications, altérations malveillantes de programmes ou fichiers ou de contamination par des virus informatiques. Qu’il appartient par conséquent au client de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels stockés sur ses serveurs de la contamination par des virus comme de tentatives d’intrusion dans son système informatique par des tiers via le service d’accès.  <br> 

En conséquence de ce qui précède, et en parfaite connaissance des caractéristiques d’Internet, le client renonce à engager la responsabilité de l’Editeur concernant un ou plusieurs des faits ou événements mentionnés ci-dessus. Le client est informé des limites inhérentes à Internet et fait une utilisation de la Plateforme à ses risques et périls.<br> <br> 

<h5>Article 6 – Inscription d’un Utilisateur</h5>
Afin de pouvoir créer un compte, le client doit être en capacité de contracter (majeur, capable). Il reconnaît s’inscrire en son nom et pour son compte personnel. <br> 

L’inscription sur la Plateforme est faite directement par le client. <br> 

Le client certifie que les informations le concernant sont exactes. Le client est informé que toute information mensongère ou erronée pourra entraîner la fermeture de son compte sans préavis ni versement de dommages et intérêts. <br> 

Les informations demandées sont obligatoires et permettent au Vétérinaire sélectionné de disposer de toutes les informations sur l’identité de son client. Ni l’Editeur ni le Vétérinaire ne seront responsables en cas d’erreur de saisie par le client (en particulier de son numéro de téléphone et de son mail). <br> 

Le compte ne peut être utilisé que par le client inscrit. L’accès au compte se fait par le biais d’identifiants et mots de passe qui sont strictement personnels et confidentiels. Le client s’engage à les garder secrets et à ne pas les divulguer. <br> 

En cas de perte ou de vol de l’identifiant ou mot de passe le client doit en avertir l’Editeur sans délai. <br> 

Le client reconnaît avoir vérifié l’adéquation de la Plateforme à ses besoins et avoir reçu tous les informations et conseils qui lui étaient nécessaires pour s’inscrire en toute connaissance de cause. <br><br> 

<h5>Article 7 – Durée</h5>
Les Parties sont liées par les présentes à compter du jour de l’acceptation des CGU par le client. Ce dernier peut mettre fin à l’utilisation de la Plateforme quand il le souhaite. <br> 

Si le compte reste inactif pendant une durée de trois (3) ans, l’Editeur transmettra un mail annonçant la fermeture du compte. Le client disposera de trente (30) jours pour informer l’Editeur qu’il ne souhaite pas fermer le compte.<br><br> 

<h5>Article 8 - Obligations de l’Utilisateur</h5>
<h6>8.1. Utilisation de la Plateforme</h6>
Le client s’engage à ne pas utiliser la Plateforme à des fins professionnelles ou commerciales. <br> 

La Plateforme offre un moteur de recherche permettant de trouver les Vétérinaires. L’Editeur garantit qu’il n’a aucun intérêt particulier à favoriser l’un des Vétérinaires par rapport à un autre. Le moteur de recherche les fait apparaître uniquement selon les sélections mises en place par le client. <br> 

Il revient à le client de s’informer par lui-même sur le Vétérinaire avec lequel il s’apprête à prendre rendez-vous et de procéder à toutes les vérifications qui lui sembleraient opportunes avant la prise de ce rendez-vous. <br> 

Une fois le Vétérinaire sélectionné, le client choisit une date et une heure sur l’agenda de la Plateforme afin d’effectuer une réservation de rendez-vous. Un email de confirmation sera envoyé au client. <br> 

Si l’Utilisateur l'autorise, le Vétérinaire pourra le contacter par SMS ou mail dès lors que l’objet est la gestion d’un rendez-vous ou le suivi de la consultation. <br> 

Le compte de l’Utilisateur lui permet d’accéder à l’historique de ses rendez-vous à la rubrique « Mes rendez-vous ».<br> <br> 

<h6>8.2. Règlement du Vétérinaire</h6>
La Plateforme n’est qu’un moyen de mise en relation entre les Clients et les Vétérinaires. L’Editeur n’intervient en aucun cas dans la relation contractuelle entre l’Utilisateur et le Vétérinaire. <br> 

Le prix de l’intervention est donc fixé par le Vétérinaire uniquement et sera payé par le client au Vétérinaire lors du rendez-vous. Les conditions générales de prestation de service seront celles du Vétérinaire sélectionné.<br> <br> 

<h6>8.3. Ponctualité</h6>
Le client s’engage à honorer les prises de rendez-vous en étant présent et ponctuel. <br> 

Les rendez-vous peuvent-être annulés sur la Plateforme au plus tard quatre (4) heures avant le rendez-vous. <br> 

Passé ce délai de quatre (4) heures, le client s’engage à appeler le Vétérinaire en cas d’impossibilité de se rendre au rendez-vous. <br> 

L’annulation d’un rendez-vous passe par l’onglet « Mes rendez-vous ». Le bouton « Annuler ce rendez-vous » permet l’annulation. <br> 

L’Editeur n’est en aucun cas responsable si le Vétérinaire ne respecte par le rendez-vous pris. Le client peut faire remonter au Prestataire toute plainte à l’encontre d’un Vétérinaire.<br> <br> 

<h6>8.4. Respect des droits de propriété intellectuelle</h6>
Sauf mention contraire, les éléments accessibles sur la Plateforme tels que les bases de données, les outils de gestion, les textes et plus généralement l’ensemble des informations mises à la disposition de le client sont la propriété pleine, entière et exclusive de l’Editeur. L’Inscription du client ne lui confère qu’un droit d’usage privé personnel, non transmissible et non exclusif. <br> 

L’Utilisateur convient de s’abstenir :<br> 

- D’utiliser la Plateforme de toute manière illégale, pour toute finalité illégale ou de toute manière incompatible avec ces CGU,<br> 
- De vendre, copier, reproduire, louer, prêter, distribuer, transférer ou concéder sous sous-licence tout ou partie des contenus figurant sur la Plateforme ou de décompiler, désosser, désassembler, modifier, afficher sous forme lisible par le client, tenter de découvrir tout code source ou utiliser tout logiciel activant ou comprenant tout ou partie de la Plateforme,<br> 
- De tenter d’obtenir l’accès non autorisé au système informatique de la Plateforme ou de se livrer à toute activité perturbant, diminuant la qualité ou interférant avec les performances ou détériorant les fonctionnalités de la Plateforme,<br> 
- D’utiliser la Plateforme à des fins abusives en y introduisant volontairement des virus ou tout autre programme malveillant et de tenter d’accéder de manière non autorisée à la Plateforme,<br> 
- De porter atteinte aux droits de propriété intellectuelle de la Plateforme,<br> 
- De dénigrer la Plateforme sur les réseaux sociaux et tout autre moyen de communication.<br> 
Le client s’engage à ne pas porter atteinte à la sécurité du Site. A cette fin, il s’engage à ne pas procéder à tout accès et/ou maintien frauduleux dans le système d’information de l’Editeur. Le client ne peut non plus porter atteinte ou entraver le système d’information de l’Editeur. A défaut, l’Editeur pourra prendre à son encontre toute mesure et notamment engager sa responsabilité pénale au titre des articles 323-1 et suivants du Code pénal.<br> <br> 

<h6>8.5. Transmission de contenus et messages via la Plateforme</h6>
Le client est seul responsable de ses interventions et déclare être l'auteur ou disposer de l'ensemble des droits ou autorisations nécessaires sur l'ensemble des interventions qu’il poste sur la Plateforme à destination de l’Editeur ou du Vétérinaire. <br> 

A ce titre, le client déclare qu’il détient les droits de propriété intellectuelle et/ou autorisations de reproduction et de représentation de ses interventions. L’Editeur ne saurait être tenu responsable du non-respect de cette clause. <br> 

Le client s'engage à ne pas télécharger de contenus contenant ou susceptibles de contenir des virus ou des programmes qui détruisent les données. <br> 

Le client est entièrement responsable de toute création, transmission ou publication d’interventions au moyen de la Plateforme et des conséquences de ses actes. <br> 

L'utilisation de la Plateforme s'effectue sous la seule responsabilité du client et dans la limite des droits de propriété intellectuelle détenus et/ou obtenus par le client. Il revient à chaque client de respecter les droits des tiers. <br> 

Le client s'engage à n’utiliser la Plateforme que pour des interventions strictement conformes à la loi, à l'ordre public et aux bonnes mœurs. Le client est informé que les interventions doivent pouvoir être visibles par tout public. <br> 

Le client s'engage notamment, sans que cette énumération puisse être considérée comme limitative :<br> 

- à n'utiliser aucun contenu et à ne diffuser aucun message ou information à caractère injurieux, diffamatoire, raciste, xénophobe, révisionniste ou portant atteinte à l'honneur ou la réputation d'autrui, incitant à la discrimination, à la haine d'une personne ou d'un groupe de personnes en raison de leur origine ou de leur appartenance ou de leur non-appartenance à une ethnie, une nation, une race ou une religion déterminée, menaçant une personne ou un groupe de personnes, à caractère pornographique, pédophile, incitant à commettre un délit, un crime ou un acte de terrorisme ou autre, portant atteinte aux droits d'autrui et à la sécurité des personnes et des biens ;<br> 
- à respecter les droits d'autrui, et notamment : les droits de la personnalité (tels que droit à l'image, droit au respect de la vie privée), les droits des marques, les droits d'auteur et les droits voisins du droit d’auteur, et d'une manière générale les droits des personnes et des biens.<br> 
L'Utilisateur reconnaît que les Contenus considérés comme contrevenant aux lois ou réglementations en vigueur pourront être remis par l’Editeur aux autorités chargées de faire respecter la loi et seront supprimés de la Plateforme sans délais.<br> <br> 

<h6>8.6. Responsabilité</h6>
Le non-respect par le client des points visés ci-dessus entraînera le droit pour l’Editeur de fermer le compte du client sans préavis, ni indemnités ou dédommagements quelconque. <br> 

Si une ou plusieurs plaintes de Vétérinaire concernent le client, en particulier en cas d’absence ou de retard aux rendez-vous non justifiés dans les conditions précisées ci-dessus, l’Editeur se réserve la possibilité de fermer le compte du client sans préavis ni indemnités. <br> 

L’Editeur se réserve le droit d’engager des poursuites judiciaires contre l’Utilisateur en cas de préjudice.<br> <br> 

<h5>Article 9 - Responsabilité du Prestataire</h5>
La Plateforme est accessible 24h sur 24 et 7 jours sur 7 selon une obligation de moyens et sous réserve de période de maintenance ou pannes éventuelles. L’Editeur fera ses meilleurs efforts pour qu’elle fonctionne de manière fiable et continue, mais ne peut garantir le fonctionnement ininterrompu et sans erreur. <br> 

Le client reconnaît en particulier que nul ne peut garantir le bon fonctionnement du réseau internet. <br> 

L’Editeur ne garantit en aucun cas que la Plateforme sera exempte d’anomalies ou d’erreurs, ni que celles-ci pourront être corrigées. <br> 

L’accès à la Plateforme étant gratuit, le client s’engage à ne pas réclamer d’indemnités ni de dommages et intérêts au Prestataire en cas d’interruption ou d’arrêt du service que l’arrêt soit temporaire ou définitif. <br> 

L’Utilisateur est informé que l’annuaire n’est en aucun cas exhaustif et ne recense donc pas l’ensemble des vétérinaires. 

L’Editeur ne pourra être tenu pour responsable de tout dommage indirect et/ou imprévisible causé à l’Utilisateur ou à un tiers du fait de l’utilisation de la Plateforme et ce, quelle qu’en soit la cause. L’Editeur ne pourra en aucun cas voir sa responsabilité engagée pour tout dommage causé par l’Utilisateur directement, par un tiers ou par un cas de force majeure. 

L’Utilisateur est informé que des liens sont insérés à la Plateforme et permettent d’accéder à d’autres sites internet. L’Editeur n’est en aucun cas responsable du contenu des sites vers lesquels les liens dirigent. 

En ce qui concerne les prestations des Vétérinaires, la Plateforme mise à disposition des clients n’est qu’un intermédiaire. L’Editeur ne saurait être tenu responsable de tout événement préjudiciable à l’Utilisateur en lien avec la réalisation ou l’absence de réalisation de la prestation réservée. De la même façon, l’Editeur n’est en aucun cas responsable de la présentation et des informations transmises par les Vétérinaires.<br> <br> 

<h5>Article 10 - Cession</h5>
Le client s’interdit expressément de céder à titre onéreux ou gratuit, tout ou partie des droits et obligations qu’il détient du fait des présentes CGU. <br> 

Le client s’engage à ce que toute prise de rendez-vous soit réalisée pour son compte. Il est interdit de céder à un tiers, à titre gratuit ou onéreux, un rendez-vous réservé via la Plateforme.<br><br> 

<h5>Article 11 – Protection des données personnelles</h5>
L’Editeur attache une grande importance au respect de la vie privée et prend toutes les mesures nécessaires pour assurer la confidentialité et la sécurité des données personnelles des Utilisateurs. <br> 

Dans le cadre de l’ouverture d’un compte sur la Plateforme, l’Editeur collecte des données personnelles des Utilisateurs et notamment les données suivantes :<br> 

<p>- Prénom</p>
<p>- Nom</p>
<p>- Adresse email</p> 
<p>- Numéro de téléphone</p>
<p>- Adresse postale</p>
<p>- Mot de Passe</p>
L’Editeur collecte et traite les données personnelles des Utilisateurs pour les finalités suivantes : <br> 
Gestion des comptes ; <br> 
Réponses aux questions posées par l’Utilisateur ; <br> 
Réponses aux demandes d’exercice des droits. <br> 

Les données des clients sont conservées jusqu’à la suppression du compte sauf si une obligation légale oblige l’Editeur à les conserver pour une durée supérieure. <br> 

Les données personnelles des clients sont transmises à AWS, en tant que sous-traitant, pour leur hébergement. <br> 

Les Vétérinaires auprès desquels le rendez-vous a été pris par le client sont aussi destinataires des données de ces clients et sont responsables de traitement à part entière. Il revient aux Vétérinaires de transmettre aux clients leur politique de confidentialité. Le Vétérinaire est aussi responsable de traitement pour l’envoi des SMS, l’Editeur étant uniquement sous-traitant pour ce traitement. <br> 

L’Editeur peut également communiquer les données personnelles afin de coopérer avec les autorités administratives et judiciaires. <br> 

L’Editeur veille à sécuriser les données personnelles des Utilisateurs de manière adéquate et appropriée et a pris les précautions utiles afin de préserver la sécurité et la confidentialité des données et notamment empêcher qu’elles ne soient déformées, endommagées ou communiquées à des personnes non autorisées. <br> 

La base légale du traitement réalisé par l’Editeur est contractuelle, formalisée par les présentes CGU que l’Utilisateur doit accepter. Les traitements sont tous nécessaires pour la bonne réalisation des services proposés par l’Editeur à l’Utilisateur. <br><br> 

<h6>Obligations des Utilisateurs</h6> 

Les clients reconnaissent que les données personnelles divulguées par eux sont valides, à jour et adéquates ;<br> 
Les clients s’engagent à ne pas porter atteinte à la vie privée, à l’image et à la protection des données personnelles de toute personne tierce et ainsi à ne pas communiquer à l’Editeur les données de personnes tierces sans leur consentement.<br> 
Le client est informé qu’il peut exercer, conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, ses droits d’accès, de rectification, d’effacement, d’opposition, demander la limitation du traitement et la portabilité de ses données en s’adressant à l’Editeur par téléphone ou e-mail. Le client peut aussi déterminer le sort de ses données après sa mort. L’Utilisateur peut engager, le cas échéant, un recours auprès de l’autorité de contrôle interne, la CNIL en France. <br> 

Les données ne font l’objet d’aucun transfert dans un pays tiers.<br><br> 

<h5>Article 12 - Généralités</h5>
La nullité d’une des clauses des CGU en application notamment d’une loi, d’un règlement ou à la suite d’une décision d’une juridiction compétente passée en force de chose jugée n’entraînera pas la nullité des autres clauses des CGU qui garderont leur plein effet et portée entre les parties. Aucune disposition des présentes ne sera réputée avoir été écartée, complétée ou modifiée par l’une des parties sans un acte préalable écrit et signé par les responsables autorisés des parties sous la forme d’un avenant aux présentes CGU, portant expressément décision d’écarter l’application d’une clause contractuelle, de la compléter ou de la modifier. <br> 

Le fait que l’Editeur ne se prévale pas à un moment donné de l’une quelconque des clauses du présent Contrat, et/ou d’un manquement par l’Utilisateur à l’une quelconque de ses obligations contractuelles ne peut être interprété comme valant renonciation par l’Editeur à se prévaloir ultérieurement de l’une quelconque desdites clauses ou obligations contractuelles.<br><br>  

<h5>Article 13 - Loi applicable</h5>
Les présentes CGU sont soumises au droit français.<br><br>  

<h5>Article 14 – Règlement des litiges</h5>
Tout différend né de l’interprétation ou de l’exécution des présentes CGU, fera l’objet d’une tentative de règlement amiable. <br> 
A défaut de solution amiable intervenue entre les parties, tout litige susceptible de s’élever entre les parties sera soumis aux tribunaux compétents. <br>
L’Editeur n’intervient pas dans un litige opposant un Client à un Vétérinaire.<br><br><br> 