<div class="team_bg-image">
 <div class="text-black text-center mx-auto">
<h1>OUR GREAT TEAM</h1>
<p>Venez rencontrer notre super team</p>
<p>Kimia ALARY</p>
<p>Camille BAE</p> 
<p>Christel COVI</p> 
<p>Taos TOUAHRIA</p>
</div></div>
<br><br><br>