  <!-- ========== FOOTER ========== -->
  <footer>
    <p class="text-muted text-center small p-1 mb-6">Pour nous suivre !</p>
    <div class="social text-center">
      <a class="mx-3 h4 d-inline-block text-primary" href="https://twitter.com">Twitter</a>
      <a class="mx-3 h4 d-inline-block text-secondary" href="https://www.facebook.com">Facebook</a>
      <a class="mx-3 h4 d-inline-block text-warning" href="https://www.instagram.com">Instagram</a>

      <!-- Copyright -->
      <div class="text-center p-2">
        Tous droits réservés © Fait par Kimia ALARY, Camille BAE, Christel COVI, Taos TOUAHRIA
        <p>THP HIVER 2022</p>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->
